@model MyRentalPos.Areas.Admin.Models.Store.CreateStoreModel

@{
    ViewBag.Title = "Create Store";
}

<h2>Create Your Store</h2>

<form id="createStoreForm">
    @Html.ValidationSummary(false)
    <div class="form-horizontal">
        <div class="control-group">
            @Html.LabelFor(model => model.Store.StoreName, new { Class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(model => model.Store.StoreName, new { required = "" })
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Store.Owner, new { Class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(model => model.Store.Owner, new { required = "" })
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Store.EmailAddress, new { Class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(model => model.Store.EmailAddress, new { type = "email", required = "" })
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Store.BaseUrl, new { Class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(model => model.Store.BaseUrl, new { required = "" })
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Store.Image, new { Class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(model => model.Store.Image, new { required = "" })
            </div>
        </div>
        <button type="button" id="createStoreButton">Submit</button>
    </div>
</form>
<script>
    $('#createStoreForm').validate({
        errorElement: "span"
    });
    $('#createStoreButton').click(function () {
        $('#createStoreForm').serialize();

        if ($('#createStoreForm').valid()) {
            alert('button clicked');
        } else {
            alert('invalid');
        }
    });
</script>
