@model MyRentalPos.Areas.Admin.Models.Store.StoreModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.ValidationSummary(true)
    @Html.HiddenFor(x=>x.Id)
    <div class="form-horizontal">
        <div class="control-group">
            @Html.LabelFor(model => model.StoreName, new { Class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.StoreName)
                @Html.ValidationMessageFor(model => model.StoreName)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Owner, new { Class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Owner)
                @Html.ValidationMessageFor(model => model.Owner)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.EmailAddress, new { Class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(model => model.EmailAddress, new {type="email"})
                @Html.ValidationMessageFor(model => model.EmailAddress)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.BaseUrl, new { Class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x=>x.BaseUrl,new {disabled="disabled"})
                @Html.HiddenFor(x=>x.BaseUrl)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Image, new { Class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Image)
                @Html.ValidationMessageFor(model => model.Image)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Address, new { Class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.City, new { Class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.City)
                @Html.ValidationMessageFor(model => model.City)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.State, new { Class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.State)
                @Html.ValidationMessageFor(model => model.State)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.ZipCode, new { Class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.ZipCode)
                @Html.ValidationMessageFor(model => model.ZipCode)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.PhoneNumber, new { Class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.FaxNumber, new { Class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.FaxNumber)
                @Html.ValidationMessageFor(model => model.FaxNumber)
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    @Html.CheckBoxFor(model => model.IsActive) @Html.LabelFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive)
                </label>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>